.subcribeSection{
    display : flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height : 35rem;
}
.subcribeSection .form{
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}
.form div{
    width : 100%;
    position : relative;
}

.form div input{
    width : 80%;
    height : 5rem;
    border : .2rem solid silver;
    border-radius : .5rem;
    padding : 1rem;
}
.form div input:focus{
    border : none;
}
.btn{
    position : absolute;
    top : 0; left : 79%;
    width : 21%;
    height : 5rem;
    z-index :10;
    display : flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


@media(max-width : 991px){
    .subcribeSection{
        background-position: left;
    }
  }
@media(max-width : 868px){
    .form div{
        height : 10rem;
    }
    .form div input{
        width : 100%;
    }
    .btn{
        top : 55%; left: -50% ; right: -50%;
        margin: auto;
        border-radius : .5rem;
        width : 100%;
        /* display: block; */
    }
}