
.banner{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    min-height: calc(100vh - 10rem);
}

.banner > *{
    flex : 1 1 40rem;
}
.home .img{
    display : flex;
    align-items: center;
    justify-content: center;
}

.home .img img{
    width : 100%;
    object-fit: cover;
}

.home .content span{
    font-size : 3rem;
    color : rgb(128, 128, 128, .7);
}

.home .content h3{
    font-size : 5rem;
    color : #000;
    margin-bottom : 1rem;
    font-weight: bold;
}

/* media queries */
@media(max-width : 768px){
    .content{
        text-align : center;
    }
    .content h3{
        font-size : 4rem;
    }
}